{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IsItCatorDog?</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/style.css' %}" >
</head>
<body>
<section id="title">
    <div class="container-fluid">
    <h1>Witaj w aplikacji - Znajdź kota albo psa na zdjęciu!</h1>
    <img class="title-image" src="{% static 'website/catdog.png' %}">
</section>
</div>

<h2>Społeczność</h2>
<ul >
    {% for person in people %}
        <li >
            <a  href="{% url 'detail' person.id %}">
                {{person.name}}
            </a>
        </li>
    {% endfor %}
</ul>

<p>
<a  style=" margin: 8px 50px 8px; " href="{% url 'cats' %}">Lista zwierzaków</a>

<a  style="  margin: 8px 50px 8px; " href="/person/new_person">Dodaj osobę</a>
</p>
<p>
<a style="  margin: 8px 50px 8px; " href="/person/new_cat">Dodaj kota albo psa</a>

<a style="  margin: 8px 50px 8px; " href="/image_upload">Sprawdź zdjęcie</a>

</p>


</body>
</html>