{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IsItCat?</title>
    <link rel="stylesheet" href="{% static 'website/style.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
<h1>Witaj w aplikacji - Znajdź kotka</h1>
<p>
    Aplikacja służy do sprawdzenia czy na zdjęciu, które prześlesz znajduje się kotek.

</p>

<h2>Społeczność</h2>
<ul >
    {% for person in people %}
        <li >
            <a  href="{% url 'detail' person.id %}">
                {{person.name}}
            </a>
        </li>
    {% endfor %}
</ul>

<p>
<a  style=" margin-right: 150px; margin-left: 180px; " href="{% url 'cats' %}">Lista kotów</a>

<a  style=" margin-right: 150px;" href="/person/new_person">Dodaj osobę</a>

<a style=" margin-right: 150px;" href="/person/new_cat">Dodaj kota</a>

<a style=" margin-right: 150px;" href="/image_upload">Sprawdź zdjęcie</a>
</p>

<img src="{% static 'website/cat.png' %}" width="540px">

</body>
</html>