body {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', serif;
  color: #40514E;
}

h1 {
  text-align: left;
  color: #66BFBF;
  font-family: 'Montserrat',
  font-size: 50px;
  margin: 50px 50px 50px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 10px;
  margin-left: 35px;
  text-align: center;
}

p {
  text-align: center;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

li {
  list-style: none;
  width: 100%;
  margin: 5px auto 5px auto;
}

.top-container {
  background-color: #ecfbfc;
  position: relative;
  padding-top: 100px;
}


.intro {
  width: 30%;
  text-align: center;
  margin: 50px auto 100px auto;
  line-height: 2

}
.container-fluid {
  padding: 3% 10% 7%;
  font-size: 2rem;
  text-align: right;
}

table{
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: left;
  line-height: 2

}

.p {
  line-height: 2;
}
a {
  color: #1d4d4f;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;

}
a:hover {
  color:#e5dfdf;
}
.bottom-container {
  background-color: #6ba8a9;
  padding: 50px 0 20px;

}
.copyright{
color: #e5dfdf;
font-size: 0.75rem;
padding: 20px 0;
}

#title {
  background-color: #f0e5d8;
  color: #fff;
  text-align: left;

}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;