{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person: {{person.name}}</title>
    <link rel="stylesheet" href="{% static 'kotki/style.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
<body>
<h1>{{person.name}}</h1>
<p class="middle-container">
    This person has {{person.age}} years and a cat: <strong>{{person.cat}}</strong>
</p>

    <div class="fixed">
    <a href="{% url 'welcome' %}">Home</a>
    </div>
</body>

</html>