body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
  color: #307672;
}

.fixed {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #6ba8a9;
  padding: 20px 0 20px;

}

h1 {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 50px;
  margin: 50px auto 0 auto;
}

h2 {
  color: #144d53;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding: 10px;
}

h3 {
  color: #144d53;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

li {
  list-style: none;
  width: 100%;
  margin: 5px auto 5px auto;
}

.top-container {
  background-color: #ecfbfc;
  position: relative;
  padding-top: 100px;
}
.bottom-container {
  background-color: #6ba8a9;
  padding: 20px 0 20px;
  margin: 600px 0 20px;


}
.wstęp {
  width: 30%;
  text-align: center;
  margin: 50px auto 100px auto;
  line-height: 2

}

table{
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: left;
  line-height: 2

}
form{
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: center;
  line-height: 2

}
label{
  width: 50%;
  line-height: 2;
  text-align: center;
  font-family: 'Montserrat';
  color: #1e212d;
  }
.p {
  line-height: 2;
  text-align: center;

}
a {
  color: #1d4d4f;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;

}
a:hover {
  color:#e5dfdf;
}

button {
	box-shadow: 0 10 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat';
	font-size:15px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}
button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
button:active {
	position:relative;
	top:1px;
}
input {
  width: 50%;
  line-height: 2;
  text-align: center;
  font-family: 'Montserrat';
  color: #1e212d;
  }
}